body,
header,
main,
footer,
div {
    background-color: beige;
    color: black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.Pallo {
    border: solid black 4px;
    margin: 20px auto;
}